<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo/custodybuilder-icon.svg" />
		<link rel="apple-touch-icon" href="/logo/apple-touch-icon.png" />
		<meta name="theme-color" content="#0F172A" />
		<meta name="generator" content={Astro.generator} />
		<title>CustodyBuilder | Free Custody Schedule Generator</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
